﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="a_hom.aspx.cs" Inherits="a_hom" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:LinkButton ID="LinkButton1" runat="server" 
        PostBackUrl="~/Register_Emp.aspx">Register/Manage Employee</asp:LinkButton>
&nbsp;&nbsp;&nbsp;
    <asp:LinkButton ID="LinkButton3" runat="server" PostBackUrl="~/Complaints.aspx">View complaints</asp:LinkButton>
&nbsp;
    <asp:LinkButton ID="LinkButton2" runat="server" PostBackUrl="~/login.aspx">Logout</asp:LinkButton>
</asp:Content>

