﻿<%@ Page Title="" Language="C#" MasterPageFile="~/em.master" AutoEventWireup="true" CodeFile="e_home.aspx.cs" Inherits="e_home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/Post_Comp.aspx">Post Complaint</asp:LinkButton>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:LinkButton ID="LinkButton2" runat="server" PostBackUrl="~/login.aspx">Logout</asp:LinkButton>
</asp:Content>

